body {
  background-color: #fff;
  color: #222;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  flex-wrap: wrap;
  gap: 10px;
}

.nav-btn {
  background: white;
  border: 2px solid #ff6fb5;
  color: #d63384;
  padding: 8px 18px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: #ff8ccf;
  color: #fff;
  transform: translateY(-2px);
}

.logout {
  border-color: #ff5c8a;
  color: #ff5c8a;
}
