/* style.css */
.nav-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-button {
    background-color: #C62828;   /* Dark Red Theme */
    color: white;
    padding: 10px 25px;
    margin: 0 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    font-size: 16px;
}

.nav-button:hover {
    background-color: #E53935;   /* Lighter Red on Hover */
}

.nav-button:active {
    transform: scale(0.95);
}
